div {
    display: inline-block;
    background: salmon;
    width: 200px;
    height: 200px;
    margin: 20px;

}

a {
    display: inline-block;
    background: skyblue;
    width: 200px;
    height: 200px;
    margin: 20px;
}

button {
        display: inline-block;
        background: slateblue;
        width: 100px;
        height: 100px;
        margin: 20px;
}

