* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.card {
    width: 400px;
    height: 400px;
    background: lightseagreen;
    border-radius: 20px;
    overflow: hidden;
}

.card figure {
    width: 100%;    
}

.card figure img {
    width: 100%;
}

.card .text {
    padding: 10px;
}

.card .text p {
    text-align: center;
    margin-top: 15px;
    font-size: 1.5em;  
}

.card .text p span {
    font-weight: bold;
}

.card .text p:nth-child(2){
    color: gold;
    font-size: 2em;
    font-weight: bold;
}
